<div class="created pro-duct">
	<p class="crt">Created : <span><%= @theme.created_at.strftime("%d %B %Y") %></span></p>
</div>
<div class="updated pro-duct">
	<p class="crt">Last Update	: <span><%= @theme.updated_at.strftime("%d %B %Y") %></span></p>
</div>
<div class="resolution pro-duct">
	<p class="crt">High Resolution : <span><%= @theme.resolution %></span></p>
</div>
<div class="browser pro-duct">
	<p class="crt">Compatible Browsers :
		<span><%= raw @theme.browsers.map(&:name).map { |b| link_to b, browser_path(b) }.join(', ') %></span>
	</p>
</div>
<div class="browser pro-duct">
	<p class="crt">Compatible Email :
		<% @theme.emails.each do |email| %>
		<span><%= email.name %></span>
		<% end %>
	</p>
</div>
<div class="compatible pro-duct">
	<p class="crt">Compatible With :
		<span><%= raw @theme.compatibles.map(&:name).map { |c| link_to c, compatible_path(c) }.join(', ') %></span>
	</p>
</div>
<div class="include pro-duct">
	<p class="crt">ThemeForest Files Included :
		<span><%= raw @theme.fileincludes.map(&:name).map { |c| link_to c, fileinclude_path(c) }.join(', ') %></span>
	</p>
</div>
<div class="column pro-duct">
	<p class="crt">Columns : <span><%= @theme.column %></span></p>
</div>
<div class="layout pro-duct">
	<p class="crt">Layout : <span><%= @theme.layout %></span></p>
</div>
<div class="tag pro-duct">
	<p class="crt">Tags : 
		<span><%= raw @theme.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
	</p>
</div>