
	<li>
		<% if comment.user.profile? %>
			<%= image_tag comment.user.profile.url(:thumb), class: "img-coms" %>
		<% else %>
			<%= image_tag "blank_user.png", class: "img-coms" %>
		<% end %>
		<span class="nouy"><%= comment.user.firstname + ' ' + comment.user.lastname %></span>
		<p><%= simple_format(comment.content) %></p>
		<span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>
		<div class="clear"></div>
	</li>
