<div class="head xcsd">
	<div class="container con-custom-detail">
		<div class="uclok">
			<h4>
				<span><%= link_to "Home", themes_path %></span>
				<i class="fa fa-angle-double-right"></i>
				<span><%= link_to @theme.category.name, themes_path %></span>
				<i class="fa fa-angle-double-right"></i>
				<span><%= link_to @theme.subcategory.name, themes_path %></span>
			</h4>
		</div>
		<h2 class="tis"><%= @theme.name %></h2>
		<p class="vbdgfd">by <span>Nicky Laatz</span></p>
		<div class="tab-panel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#item-detail" aria-controls="item-detail" role="tab" data-toggle="tab">Item Details</a></li>
				<li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container con-custom-detail">
	<div class="tab-content dhf">
		<div role="tabpanel" class="tab-pane active" id="item-detail">
			<div class="col-md-6 show-left">
				<div id="carousel" class="carousel" data-ride="carousel">
					<div class="slide-left">
						<div class="carousel-inner" role="listbox">
							<% @theme.assets.each_with_index  do |asset, index| %>
							<div class="item <%= 'active' if index == 0  %>">
								<%= image_tag asset.preview.url(:large) %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="slide-right">
						<div class="frw" id="frw">
							<ul class="indicator-car">
								<% @theme.assets.each_with_index do |tmb, index| %>
									<li data-target="#carousel" data-slide-to="<%= index %>">
										<%= image_tag tmb.preview.url(:medium) %>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<p><%= simple_format(@theme.description) %></p>
				</div>
			</div>
			<div class="col-md-6 show-right">
				<div class="price">
					<div class="pri">
						<%= link_to "Buy Now $#{@theme.price}", themes_path, class: "btn-price" %>
					</div>
					<ul class="check">
						<li class="sora">Included: Quality checked by Envato</li>
						<li class="sora">Future updates</li>
						<li class="sora">Included: 6 months support from pimmey </li>
					</ul>
				</div>
				<div class="seller">
					<div class="img-pro">
						<%= image_tag "profile_user/avatar.jpg", class: "pro-pic" %>
						<p class="name-user">Nicky Laatz</p>
						<%= link_to "Follow", themes_path, class: "foll" %>
					</div>
					<div class="clear"></div>
					<div class="overall">
						<p class="ov-al">99% Overall Recommended</p>
					</div>
					<div class="other-product">
						<span class="tut">More from Nicky Laatz:</span>
						<ul class="list-inline ouyt">
							<li>
								<% @theme.assets.limit(2).each do |other| %>
									<%= link_to image_tag(other.preview.url(:medium), class: "img-other"), themes_path %>
								<% end %>
							</li>
						</ul>
						<div class="port">
							<%= link_to "Portofolio", themes_path, class: "porto" %>
						</div>
					</div>
				</div>
				<div class="sum-sales">
					<div class="sales">
						<p class="sum-sa boo">
							<span>249</span> Sales
						</p>
					</div>
					<div class="com-ent">
						<p class="boo com-ent-t">
							<span>45</span> Comments
						</p>
					</div>
					<div class="rate-s">
						<p class="rate-f boo">
							<span></span>Buyer Rating
						</p>
					</div>
				</div>
				<div class="info-product">
					<% if @theme.category_id == 1001 %>
						<%= render "themes/info_product/wp" %>
					<% elsif @theme.category_id == 1002 %>
						<%= render "themes/info_product/cms" %>
					<% elsif @theme.category_id == 1003 %>
						<%= render "themes/info_product/ecom" %>
					<% elsif @theme.category_id == 1004 %>
						<%= render "themes/info_product/blog" %>
					<% elsif @theme.category_id == 1005 %>
						<%= render "themes/info_product/market" %>
					<% elsif @theme.category_id == 1006 %>
						<%= render "themes/info_product/forums" %>
					<% elsif @theme.category_id == 1007 %>
						<%= render "themes/info_product/psd" %>
					<% elsif @theme.category_id == 1008 %>
						<%= render "themes/info_product/muse" %>
					<% elsif @theme.category_id == 1009 %>
						<%= render "themes/info_product/sketch" %>
					<% elsif @theme.category_id == 1010 %>
						<%= render "themes/info_product/type" %>
					<% elsif @theme.category_id == 1011 %>
						<%= render "themes/info_product/static" %>
					<% end %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	    <div role="tabpanel" class="tab-pane" id="comments">df</div>
	</div>
</div>