<%= simple_form_for @theme do |f| %>
	<div class="name_des">
		<div class="form-group">
			<%= f.text_field :name, class: "form-control", label: false, placeholder: "name" %>
			<span>Maximum 100 characters. Follow our Item Title Naming Conventions.</span>
		</div>
		<div class="form-group">
			<%= f.text_area :description, class: "form-control", label:false, placeholder: "description" %>
			<span>This field is used for search, so please be descriptive! If you're linking to external images see our image performance tips for authors.</span>
		</div>
		<div class="form-group">
			<%= f.text_field :price, class: "form-control", label:false, placeholder: "price" %>
		</div>
	</div>
	<div class="supp">
		<h2>Supporting your item</h2>
		<p>You have not chosen a support preference for your items. Buyers will see your item as not-supported. To change your support settings go to your item support settings.</p>
	</div>
	<div class="files_up">
		<h2>Choose Files</h2>
		<div class="form-group">
			<span>Thumbnail: </span>
			<%= f.input :thumb, label: false %>
			<span>JPEG or PNG 80x80px Thumbnail</span>
		</div>
		<div class="form-group">
			<span>Preview</span>
			<%= file_field_tag "previews[]", type: :file, multiple: true %>
			<span> File of images (png/jpg) w/ optional text descriptions for display on the site</span>
		</div>
		<div class="form-group">
			<span>Main File</span>
			<%= f.input :clip, label: false %>
			<span>ZIP - All files for buyers, not including preview images</span>
		</div>
		<div class="inf">
			<p>For files over 500MB we recommend uploading via FTP. The maximum file size allowed is 3GB - please ensure compression has been optimized before uploading.</p>
		</div>
	</div>
	<div id="wordpress">
		<div class="form-group wp">
			<p>High Resolution</p>
			<%= f.radio_button :resolution, 'Yes'%>
			<span>Yes</span>
			<%= f.radio_button :resolution, 'No', checked: "checked" %>
			<span>No</span>
			<%= f.radio_button :resolution, 'NA' %>
			<span>N/A</span>
		</div>
		<div class="form-group cbrowser">
			<h2>Compatible Browser</h2>
			<%= select_tag("theme[browser_ids][]", options_for_select(Browser.all.where(id: 1..10).collect {|browser| [browser.name, browser.id]}, @theme.browsers.collect { |browser| browser.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
		<div class="form-group wp">
			<h2>Compatible With</h2>
			<%= select_tag("theme[compatible_ids][]", options_for_select(Compatible.all.where(id: 1..19).collect {|compatible| [compatible.name, compatible.id]}, @theme.compatibles.collect { |compatible| compatible.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
		<div class="form-group wp">
			<h2>Framework</h2>
			<%= select_tag("theme[framework_ids][]", options_for_select(Framework.all.where(id: 24..29).collect {|framework| [framework.name, framework.id]}, @theme.frameworks.collect { |framework| framework.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
		<div class="form-group">
			<h2>Software Version</h2>
			<%= select_tag("theme[software_ids][]", options_for_select(Software.all.where(id: [20..37, 19]).order("name asc").collect {|software| [software.name, software.id]}, @theme.softwares.collect { |software| software.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
		<div class="form-group">
			<h2>ThemeForest Files Included</h2>
			<%= select_tag("theme[fileinclude_ids][]", options_for_select(Fileinclude.all.where(id: [1..10]).order("name desc").collect {|fileinclude| [fileinclude.name, fileinclude.id]}, @theme.fileincludes.collect { |fileinclude| fileinclude.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
		<div class="form-group">
			<%= f.select :column, options_for_select([["1","1"], ["2","2"], ["3","3"], ["4+","4+"], ["N/A","na"]]),  { prompt: "columns" }, { class: "form-control" } %>
			<span>How many column in your templates?</span>
		</div>
		<div class="form-group">
			<%= f.select :layout, options_for_select([["Fixed","fixed"], ["Liquid","liquid"], ["Responsive","responsive"], ["N/A","na"]]), { prompt: "layout" }, { class: "form-control" } %>
			<span>Does this layout stretch when resized horizontally (liquid)? Or does it stay the same (fixed)? or Responsive</span>
		</div>
		<div class="form-group">
			<%= f.text_field :demo, class: "form-control", label: false, placeholder: "demo URL" %>
		</div>
	</div>
	<%= f.submit "Post", class: "btn btn-default" %>
<% end %>