<%= simple_form_for @theme do |f| %>
	<div class="name_des">
		<h4>Name &amp; Description</h4>
		<div class="form-group">
			<%= f.text_field :name, class: "form-control", label: false, placeholder: "name" %>
			<span>Maximum 100 characters. Follow our Item Title Naming Conventions.</span>
		</div>
		<div class="form-group">
			<%= f.text_area :description, class: "form-control", label:false, placeholder: "description" %>
			<span>This field is used for search, so please be descriptive! If you're linking to external images see our image performance tips for authors.</span>
		</div>
		<div class="form-group">
			<%= f.text_field :price, class: "form-control", label:false, placeholder: "price" %>
		</div>
	</div>
	<div class="supp">
		<h4>Supporting your item</h4>
		<p>You have not chosen a support preference for your items. Buyers will see your item as not-supported. To change your support settings go to your item support settings.</p>
	</div>
	<div class="files_up">
		<h4>Choose Files</h4>
		<div class="form-group cococo">
			<label for="theme_thumb" class="thumb-up"><span id="em_lbl">Select Thumbnail to Upload</span></label>
			<%= f.input :thumb, label: false, multiple: true %>
			<span class="ooop">JPEG or PNG 80x80px Thumbnail</span>
		</div>
		<div class="form-group cococo">
			<label for="previews_" class="thumb-up"><span id="span_lbl">Select Preview to Upload</span></label>
			<%= file_field_tag "previews[]", type: :file, multiple: true %> <br>
			<span class="ooop"> File of images (png/jpg) w/ optional text descriptions for display on the site</span>
		</div>
		<div class="form-group cococo">
			<label for="theme_clip" class="thumb-up"><span id="clip-lbl">Select Files to Upload</span></label>
			<%= f.input :clip, label: false %>
			<span class="ooop">ZIP - All files for buyers, not including preview images</span>
		</div>
		<div class="infos">
			<p>For files over 500MB we recommend uploading via FTP. The maximum file size allowed is 3GB - please ensure compression has been optimized before uploading.</p>
		</div>
	</div>
	<div id="attrib">
		<h4>Attributes</h4><br>
		<div class="form-group wtfs">
			<h2>ThemeForest Files Included</h2>
			<%= select_tag("theme[fileinclude_ids][]", options_for_select(Fileinclude.all.where(id: 7..10).order("name asc").collect {|fileinclude| [fileinclude.name, fileinclude.id]}, @theme.fileincludes.collect { |fileinclude| fileinclude.id }), {multiple: true, size: 5, class: "form-control"}) %>
		</div>
	</div>
	<div class="tags">
		<div class="form-group jksg">
			<h2>Tags</h2>
			<%= f.text_area :tag_list, label: false, class: "form-control" %>
			<span>Maximum of 15 keywords covering features, usage, and styling. Keywords should all be in lowercase and separated by commas. e.g. photography, gallery, modern, jquery, wordpress theme</span>
		</div>
	</div>

	<div class="tags">
		<div class="form-group jksg">
			<h2>Message to the Reviewer</h2>
			<%= f.input :message, label:false, class: "form-control" %>
		</div>
		<%= f.submit "Post", class: "btn btn-default btn-upa" %>
	</div>
<% end %>