<!DOCTYPE html>
<html>
<head>
  <title>Envclone</title>
  <%= stylesheet_link_tag    'themes', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jsthemes', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav1 navbar navbar-default">
		<div class="container con-custom-detail">
			<div class="navbar-header">
				<%= link_to (image_tag "logo.png", width: "20"), themes_path, class: "navbar-brand" %>
			</div>
			<ul class="menu2 nav navbar-nav navbar-right">
				<li>
					<% if user_signed_in? %>
						<%= link_to current_user.firstname+' '+current_user.lastname, new_theme_path, class: "signup" %>
					<% else %>
						<a href="javascript:void(0)" onclick="openRegisterModal();" data-toggle="modal" class="singup" >Create an OurMarket Account</a>
					<% end %>
				</li>
				<li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
				<li>
					<% if user_signed_in? %>
						<%= link_to "Sign Out", destroy_user_session_path, method: :delete , class: "signin" %>
					<% else %>
						<a href="javascript:void(0)" onclick="openLoginModal();" data-toggle="modal" class="singin" >Sign In</a>
					<% end %>
				</li>
			</ul>
			<ul class="menu1 nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="nav2 navbar navbar-default">
		<div class="container con-custom-detail">
			<ul class="menu3 nav navbar-nav">
				<li><%= link_to "themeforest", themes_path, class: "th" %></li>
				<li><a href="#" class="gr">graphicriver</a></li>
				<li><a href="#" class="cc">codecanyon</a></li>
				<li><a href="#" class="vh">videohive</a></li>
				<li><a href="#" class="aj">audiojungle</a></li>
				<li><a href="#" class="pd">photodune</a></li>
				<li><a href="#" class="td">3docean</a></li>
				<li><a href="#" class="ad">activeden</a></li>
				<li><a href="#" class="mu">mockups</a></li>
			</ul>
		</div>
	</div>
	<div class="nav3 navbar navbar-default">
		<div class="container con-custom-detail">
			<ul class="menu4 nav navbar-nav" id="mkhd">
				<li><a href="#">All Items</a></li>
				<li class="nounou one">
					<%= link_to "Wordpress", categories_path(@category_id = "1001")	 %>
						<ul class="drp-down wp_drp">
							<li class="lig"><a href="#">Popular Items</a></li>
							<li><a href="#">Blog / Magazine</a></li>
							<li><a href="#">BuddyPress</a></li>
							<li><a href="#">Corporate</a></li>
							<li><a href="#">Creative</a></li>
							<li><a href="#">Directory &amp; Listings</a></li>
							<li><a href="#">eCommerce</a></li>
							<li><a href="#">Education</a></li>
							<li><a href="#">Entertaiment</a></li>
							<li><a href="#">Mobile</a></li>
							<li><a href="#">Nonprofit</a></li>
							<li><a href="#">Real Estate</a></li>
							<li><a href="#">Retail</a></li>
							<li><a href="#">Technology</a></li>
							<li><a href="#">Wedding</a></li>
							<li><a href="#">Miscellaneous</a></li>
							<li><a href="#">WordPress Plugins</a></li>
						</ul>
				</li>
				<li class="nounou two">
					<%= link_to "HTML", categories_path(@category_id = "1007") %>
					<ul class="drp-down ht_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Creative</a></li>
						<li><a href="#">Corporate</a></li>
						<li><a href="#">Retail</a></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Nonprofit</a></li>
						<li><a href="#">Entertaiment</a></li>
						<li><a href="#">Personal</a></li>
						<li><a href="#">Miscellaneous</a></li>
					</ul>
				</li>
				<li class="nounou three">
					<%= link_to "Marketing", categories_path(@category_id = "1005") %>
					<ul class="drp-down mark_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Email Templates</a></li>
						<li><a href="#">Instapage</a></li>
						<li><a href="#">Landing Pages </a></li>
						<li><a href="#">Pagewiz</a></li>
						<li><a href="#">Unbounce Landing Pages</a></li>
					</ul>
				</li>
				<li class="nounou four">
					<%= link_to "CMS", categories_path(@category_id = "1002") %>
					<ul class="drp-down cms_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Concrete5</a></li>
						<li><a href="#">Drupal</a></li>
						<li><a href="#">Joomla</a></li>
						<li><a href="#">MODX Themes</a></li>
						<li><a href="#">Moodle</a></li>
						<li><a href="#">Mura</a></li>
						<li><a href="#">Miscellaneous</a></li>
					</ul>
				</li>
				<li class="nounou five">
					<%= link_to "eCommerce", categories_path(@category_id = "1003") %>
					<ul class="drp-down com_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Cart66</a></li>
						<li><a href="#">CS-Cart</a></li>
						<li><a href="#">Drupal Commerce</a></li>
						<li><a href="#">Easy Digital Downloads</a></li>
						<li><a href="#">Ecwid</a></li>
						<li><a href="#">Jigoshop</a></li>
						<li><a href="#">Magneto</a></li>
						<li><a href="#">OpenCart</a></li>
						<li><a href="#">osCommerce</a></li>
						<li><a href="#">PrestaShop</a></li>
						<li><a href="#">Shopify</a></li>
						<li><a href="#">Ubercart</a></li>
						<li><a href="#">VirtueMart</a></li>
						<li><a href="#">WooCommerce</a></li>
						<li><a href="#">WP e-Commerce</a></li>
						<li><a href="#">Zen Cart</a></li>
						<li><a href="#">Miscellaneous</a></li>
					</ul>
				</li>
				<li class="nounou six">
					<%= link_to "Layer Wp", categories_path(@category_id = "1011") %>
					<ul class="drp-down layer_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Jekyll</a></li>
					</ul>
				</li>
				<li class="nounou seven">
					<%= link_to "Muse", categories_path(@category_id = "1008") %>
					<ul class="drp-down muse_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><a href="#">Corporate</a></li>
						<li><a href="#">Creative</a></li>
						<li><a href="#">eCommerce</a></li>
						<li><a href="#">Landing Page</a></li>
						<li><a href="#">Personal</a></li>
						<li><a href="#">Miscellaneous</a></li>
					</ul>
				</li>
				<li class="nounou eight">
					<a href="#">UI Design</a>
					<ul class="drp-down design">
						<li><%= link_to "PSD Templates", categories_path(@category_id = "1007") %></li>
						<li><%= link_to "Sketch Templates", categories_path(@category_id = "1009") %></li>
					</ul>
				</li>
				<li><a href="#">Plugins</a></li>
				<li class="nounou nine">
					<a href="#">More</a>
					<ul class="drp-down more_drp">
						<li><%= link_to "Blogging", categories_path(@category_id = "1004") %></li>
						<li><%= link_to "Forums", categories_path(@category_id = "1006") %></li>
						<li><%= link_to "TypeEngine Themes", categories_path(@category_id = "1010") %></li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	<%= yield %>
	<footer>
		<div class="container con-custom">
			<div class="col-md-3 vh">
				<a href="#">
					<%= image_tag "logo.png", width: 50 %>
				</a>
				<p>OurMarket is platform for handcrafted, mousemade design content from independent creatives arround the world.</p>
				<h5>Follow Us</h5>
				<ul class="ko">
					<li class="jo"><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li class="jo"><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li class="jo"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
					<li class="jo"><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-3 vh">
				<p class="jdl">Earn</p>
				<ul class="lo">
					<li class="li"><a href="#">Shop Benefits</a></li>
					<li class="li"><a href="#">Partner Benefits</a></li>
				</ul>
			</div>
			<div class="col-md-3 vh">
				<p class="jdl">Community</p>
				<ul class="lo">
					<li class="li"><a href="#">Blog</a></li>
					<li class="li"><a href="#">Discussions</a></li>
					<li class="li"><a href="#">Collections</a></li>
					<li class="li"><a href="#">Members</a></li>
					<li class="li"><a href="#">Products</a></li>
					<li class="li"><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="col-md-3 vh">
				<p class="jdl">Goodies</p>
				<ul class="lo">
					<li class="li"><a href="#">Free Goods</a></li>
					<li class="li"><a href="#">Adobe Extension</a></li>
					<li class="li"><a href="#">Purchase Credits</a></li>
					<li class="li"><a href="#">Gift Cards</a></li>
				</ul>
			</div>
			<div class="col-md-3 vh">
				<p class="jdl">Company</p>
				<ul class="lo">
					<li class="li"><a href="#">About</a></li>
					<li class="li"><a href="#">Terms</a></li>
					<li class="li"><a href="#">Brand</a></li>
					<li class="li"><a href="#">Simple License</a></li>
					<li class="li"><a href="#">Privacy Policy</a></li>
					<li class="li"><a href="#">Jobs</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>