<!DOCTYPE html>
<html>
<head>
  <title>@envclone</title>
  <%= stylesheet_link_tag    'themes', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jsthemes', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav1 navbar navbar-default">
		<div class="container con-custom-detail">
			<div class="navbar-header">
				<%= link_to "Envclone", themes_path, class: "navbar-brand log-font" %>
			</div>
			<ul class="menu2 nav navbar-nav navbar-right">
				<li class="bout">
					<% if user_signed_in? %>
						<%= link_to current_user.firstname+' '+current_user.lastname, new_theme_path, class: "signup" %>
						<ul class="koukou">
							<li class="prof"><%= link_to "Profile", profile_dashboard_index_path(current_user.id), class: "prof" %></li>
							<li class="actn"><a href="#">Envclone Account</a></li>
							<li class="set"><%= link_to "Settings", edit_profile_path(current_user.username), class: "set" %></li>
							<li class="down"><a href="#">Downloads</a></li>
							<li class="fav"><%= link_to "Favorite", favorite_dashboard_index_path(current_user.id) %></li>
							<li class="collect"><a href="#">Collection</a></li>
							<li class="folw"><%= link_to "Follow Feed", follow_feed_dashboard_index_path(current_user.id) %></li>
							<li class="stat"><a href="#">Statement</a></li>
							<li class="lig sf"><a href="#">Make Deposit</a></li>
							<li class="dsh"><%= link_to "Author Dashboard", dashboard_path(current_user.id) %></li>
							<li class="upld"><%= link_to "Upload", new_theme_path %></li>
							<li class="earn"><a href="#">Earnings</a></li>
							<li class="trk"><a href="#">Withdrawals</a></li>
						</ul>
					<% else %>
						<a href="javascript:void(0)" onclick="openRegisterModal();" data-toggle="modal" class="singup" >Create an OurMarket Account</a>
					<% end %>
				</li>
				<li class="cart-bag-li"><!-- <i class="fa fa-shopping-bag"> --> <%= render "layouts/cart_bag" %></li>
				<li>
					<% if user_signed_in? %>
						<%= link_to "Sign Out", destroy_user_session_path, method: :delete , class: "signin" %>
					<% else %>
						<a href="javascript:void(0)" onclick="openLoginModal();" data-toggle="modal" class="singin" >Sign In</a>
					<% end %>
				</li>
			</ul>
			<ul class="menu1 nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="nav2 navbar navbar-default">
		<div class="container con-custom-detail">
			<ul class="menu3 nav navbar-nav">
				<li><%= link_to "themeforest", themes_path, class: "th" %></li>
				<li><a href="#" class="gr">graphicriver</a></li>
				<li><a href="#" class="cc">codecanyon</a></li>
				<li><a href="#" class="vh">videohive</a></li>
				<li><a href="#" class="aj">audiojungle</a></li>
				<li><a href="#" class="pd">photodune</a></li>
				<li><a href="#" class="td">3docean</a></li>
				<li><a href="#" class="ad">activeden</a></li>
				<li><a href="#" class="mu">mockups</a></li>
			</ul>
		</div>
	</div>
	<div class="nav3 navbar navbar-default">
		<div class="container con-custom-detail">
			<ul class="menu4 nav navbar-nav" id="mkhd">
				<li class="nounou zero">
					<a href="#">All Items</a>
					<ul class="drp-down all_drp">
						<li><a href="#">Pupular Files</a></li>
						<li><a href="#">Featured Files</a></li>
						<li><a href="#">Top New Files</a></li>
						<li><a href="#">Follow Feed</a></li>
						<li><a href="#">Top Authors</a></li>
						<li><a href="#">Top New Authors</a></li>
					</ul>
				</li>
				<li class="nounou one">
					<%= link_to "Wordpress", categories_path(@category_id = "1001")	 %>
						<ul class="drp-down wp_drp">
							<li class="lig"><a href="#">Popular Items</a></li>
							<li><%= link_to "Blog / Magazine", subcategories_path(@subcategory_id = "1000" ) %></li>
							<li><%= link_to "BuddyPress", subcategories_path(@subcategory_id = "1001") %></li>
							<li><%= link_to "Corporate", subcategories_path(@subcategory_id = "1002") %></li>
							<li><%= link_to "Creative", subcategories_path(@subcategory_id = "1003") %></li>
							<li><%= link_to "Directory", subcategories_path(@subcategory_id = "1004") %></li>
							<li><%= link_to "eCommerce", subcategories_path(@subcategory_id = "1005") %></li>
							<li><%= link_to "Education", subcategories_path(@subcategory_id = "1006") %></li>
							<li><%= link_to "Entertaiment", subcategories_path(@subcategory_id = "1007") %></li>
							<li><%= link_to "Mobile", subcategories_path(@subcategory_id = "1008") %></li>
							<li><%= link_to "Nonprofit", subcategories_path(@subcategory_id = "1009") %></li>
							<li><%= link_to "Real Estate", subcategories_path(@subcategory_id = "1010") %></li>
							<li><%= link_to "Retail", subcategories_path(@subcategory_id = "1011") %></li>
							<li><%= link_to "Technology", subcategories_path(@subcategory_id = "1012") %></li>
							<li><%= link_to "Wedding", subcategories_path(@subcategory_id = "1013") %></li>
							<li><%= link_to "Miscellaneous", subcategories_path(@subcategory_id = "1014") %></li>
							<li><%= link_to "WordPress Plugins", subcategories_path(@subcategory_id = "1015") %></li>
						</ul>
				</li>
				<li class="nounou two">
					<%= link_to "HTML", categories_path(@category_id = "1007") %>
					<ul class="drp-down ht_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Creative", subcategories_path(@subcategory_id = "1052") %></li>
						<li><%= link_to "Corporate", subcategories_path(@subcategory_id = "1053") %></li>
						<li><%= link_to "Retail", subcategories_path(@subcategory_id = "1054") %></li>
						<li><%= link_to "Technology", subcategories_path(@subcategory_id = "1055") %></li>
						<li><%= link_to "Nonprofit", subcategories_path(@subcategory_id = "1056") %></li>
						<li><%= link_to "Entertaiment", subcategories_path(@subcategory_id = "1057") %></li>
						<li><%= link_to "Personal", subcategories_path(@subcategory_id = "1058") %></li>
						<li><%= link_to "Miscellaneous", subcategories_path(@subcategory_id = "1059") %></li>
					</ul>
				</li>
				<li class="nounou three">
					<%= link_to "Marketing", categories_path(@category_id = "1005") %>
					<ul class="drp-down mark_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Email Templates", subcategories_path(@subcategory_id = "1043") %></li>
						<li><%= link_to "Instapage", subcategories_path(@subcategory_id = "1044") %></li>
						<li><%= link_to "Landing Pages", subcategories_path(@subcategory_id = "1045") %></li>
						<li><%= link_to "Pagewiz", subcategories_path(@subcategory_id = "1046") %></li>
						<li><%= link_to "Unbounce Landing Pages", subcategories_path(@subcategory_id = "1047") %></li>
					</ul>
				</li>
				<li class="nounou four">
					<%= link_to "CMS", categories_path(@category_id = "1002") %>
					<ul class="drp-down cms_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Concrete5", subcategories_path(@subcategory_id = "1016") %></li>
						<li><%= link_to "Drupal", subcategories_path(@subcategory_id = "1017") %></li>
						<li><%= link_to "Joomla", subcategories_path(@subcategory_id = "1018") %></li>
						<li><%= link_to "MODX Themes", subcategories_path(@subcategory_id = "1019") %></li>
						<li><%= link_to "Moodle", subcategories_path(@subcategory_id = "1020") %></li>
						<li><%= link_to "Mura", subcategories_path(@subcategory_id = "1021") %></li>
						<li><%= link_to "Miscellaneous", subcategories_path(@subcategory_id = "1022") %></li>
					</ul>
				</li>
				<li class="nounou five">
					<%= link_to "eCommerce", categories_path(@category_id = "1003") %>
					<ul class="drp-down com_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Cart66", subcategories_path(@subcategory_id = "1023") %></li>
						<li><%= link_to "CS-Cart", subcategories_path(@subcategory_id = "1024") %></li>
						<li><%= link_to "Drupal Commerce", subcategories_path(@subcategory_id = "1025") %></li>
						<li><%= link_to "Easy Digital Downloads", subcategories_path(@subcategory_id = "1026") %></li>
						<li><%= link_to "Ecwid", subcategories_path(@subcategory_id = "1027") %></li>
						<li><%= link_to "Jigoshop", subcategories_path(@subcategory_id = "1028") %></li>
						<li><%= link_to "Magneto", subcategories_path(@subcategory_id = "1029") %></li>
						<li><%= link_to "OpenCart", subcategories_path(@subcategory_id = "1030") %></li>
						<li><%= link_to "osCommerce", subcategories_path(@subcategory_id = "1031") %></li>
						<li><%= link_to "PrestaShop", subcategories_path(@subcategory_id = "1032") %></li>
						<li><%= link_to "Shopify", subcategories_path(@subcategory_id = "1033") %></li>
						<li><%= link_to "Ubercart", subcategories_path(@subcategory_id = "1034") %></li>
						<li><%= link_to "VirtueMart", subcategories_path(@subcategory_id = "1035") %></li>
						<li><%= link_to "WooCommerce", subcategories_path(@subcategory_id = "1036") %></li>
						<li><%= link_to "WP e-Commerce", subcategories_path(@subcategory_id = "1037") %></li>
						<li><%= link_to "Zen Cart", subcategories_path(@subcategory_id = "1038") %></li>
						<li><%= link_to "Miscellaneous", subcategories_path(@subcategory_id = "1039") %></li>
					</ul>
				</li>
				<li class="nounou six">
					<%= link_to "Layer Wp", categories_path(@category_id = "1011") %>
					<ul class="drp-down layer_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Jekyll", subcategories_path(@subcategory_id = "1068") %></li>
					</ul>
				</li>
				<li class="nounou seven">
					<%= link_to "Muse", categories_path(@category_id = "1008") %>
					<ul class="drp-down muse_drp">
						<li class="lig"><a href="#">Popular Items</a></li>
						<li><%= link_to "Corporate", subcategories_path(@subcategory_id = "1060") %></li>
						<li><%= link_to "Creative", subcategories_path(@subcategory_id = "1061") %></li>
						<li><%= link_to "eCommerce", subcategories_path(@subcategory_id = "1062") %></li>
						<li><%= link_to "Landing Page", subcategories_path(@subcategory_id = "1063") %></li>
						<li><%= link_to "Personal", subcategories_path(@subcategory_id = "1064") %></li>
						<li><%= link_to "Miscellaneous", subcategories_path(@subcategory_id = "1065") %></li>
					</ul>
				</li>
				<li class="nounou eight">
					<a href="#">UI Design</a>
					<ul class="drp-down design">
						<li><%= link_to "PSD Templates", categories_path(@category_id = "1007") %></li>
						<li><%= link_to "Sketch Templates", categories_path(@category_id = "1009") %></li>
					</ul>
				</li>
				<li><a href="#">Plugins</a></li>
				<li class="nounou nine">
					<a href="#">More</a>
					<ul class="drp-down more_drp">
						<li><%= link_to "Blogging", categories_path(@category_id = "1004") %></li>
						<li><%= link_to "Forums", categories_path(@category_id = "1006") %></li>
						<li><%= link_to "TypeEngine Themes", categories_path(@category_id = "1010") %></li>
					</ul>
				</li>	
				<span class="divider-foo"></span>
				<li class="nounou ten">
					<a href="#">Courses</a>
					<ul class="drp-down crs">
						<li><%= link_to "Popular Items", categories_path(@category_id = "1007") %></li>
						<li><%= link_to "Web Design", categories_path(@category_id = "1009") %></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<%= yield %>
	<footer>
		<div class="container con-custom">
			<div class="top-foot">
				<div class="lgo-foot">
					<h4><%= link_to "Envclone", themes_path %></h4>
				</div>
				<div class="count-mem-sale">
					<ul class="list-inline">
						<li class="mem-foot"><span><%= @users.count %></span> community member</li>
						<li class="sale-foot"><span><%= @tms.count %></span> items for sale</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="main-foot">
				<div class="col-md-6 left-foot">
					<div class="col-md-3 this-left">
						<div class="foot-title">
							<h4>Follow Us</h4>
						</div>
						<ul class="list-inline ndg">
							<li><%= link_to (image_tag "facebook.svg", class: "foot-sos"),themes_path,  class: "sos" %></li>
							<li><%= link_to (image_tag "twitter.svg", class: "foot-sos"), themes_path, class: "sos" %></li>
							<li><%= link_to (image_tag "youtube.svg", class: "foot-sos"), themes_path, class: "sos" %></li>
							<li><%= link_to (image_tag "dribbble.svg", class: "foot-sos"), themes_path, class: "sos" %></li>
							<li><%= link_to (image_tag "googleplus.svg", class: "foot-sos"), themes_path, class: "sos" %></li>
						</ul>
						<div class="foot-title">
							<h4>Meet Envclone</h4>
						</div>
						<ul class="meet">
							<li><a href="#">About Envclone</a></li>
							<li><a href="#">Explore Our Ecosystem</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
						<div class="foot-title">
							<h4>Need Help?</h4>
						</div>
						<ul class="meet">
							<li><a href="#">Help Center</a></li>
							<li><a href="#">Envclone Market Terms</a></li>
							<li><a href="#">Author Terms</a></li>
							<li><a href="#">Envclone Market Licenses</a></li>
							<li><a href="#">Contact Envclone</a></li>
						</ul>
					</div>
					<div class="col-md-3 this-right">
						<div class="foot-title">
							<h4>Join Our Community</h4>
						</div>
						<ul class="meet">
							<li><a href="#">Home</a></li>
							<li><a href="#">Forums</a></li>
							<li><a href="#">Envclone Market Blog</a></li>
							<li><a href="#">Community Meetups</a></li>
							<li><a href="#">Become an Affiliate</a></li>
						</ul>
						<div class="foot-title">
							<h4>Email Newsletters</h4>
						</div>
						<span class="hjgd">Sign up for new Envato content, updates, surveys & offers.</span>
						<div class="form-news">
							<div class="form-group">
								<input type="email" class="form-control jaj" placeholder="Email Address" />
							</div>
							<div class="form-action">
								<input type="submit" value="Subscibe" class="btn btn-default btn-subs">
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="col-md-6 right-foot">
					<div class="this-foo">
						<%= image_tag "2.png", class: "top-img" %>
						<p>From logo design to video animation, web development to website copy; expert designers, developers and digital talent are ready to complete your projects.</p>
						<a href="#">Check Envclone Studio Services</a>
					</div>
					<div class="this-foo">
						<%= image_tag "imagineshot.jpg", class: "top-img" %>
						<p>Here's a free video course on how to install WordPress, add new content, use themes and plugins, customize your site, and more. Perfect for anyone new to WP.</p>
						<a href="#">Free Course: Beginner's Guide to WordPress</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</footer>
</body>
</html>